body {
  background-color: #f4e6db;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
  background-color: #6699cc;
  border: none;
}

.spotify-img {
  width: 200px;
}

.card-container {
  background-color: #f4e6db;
}

.info-container {
  background-color: #fff;
  border-radius: 10px;
}

a {
  color: black;
}

a:hover {
  color: blue;
}

.logo {
  width: 200px;
  height: 200px;
}
