<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title%} What The French {% endblock %}</title>

    {% block head%}{% endblock %} {% for msg in get_flashed_messages() %}
    <p class="flash-msg">{{ msg }}</p>
    {% endfor %}
  </head>
  <body>
    <nav class="menu">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/word-conjugation">Quizzes</a></li>
        <li><a href="/podcasts">Podcasts</a></li>
        <li id="account-link"><a href="/profile">Account</a></li>
        <li><a id="log-in-out-link" href="/sign-in">Login</a></li>
      </ul>
    </nav>
    <script src="static/js/nav-bar.js"></script>
    {% block body%} {% endblock %}
  </body>
</html>
