<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title%} What The French {% endblock %}</title>

    {% block head%}{% endblock %} {% for msg in get_flashed_messages() %}
    <p class="flash-msg">{{ msg }}</p>
    {% endfor %}
  </head>
  <body>
    <nav class="menu">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="/quiz">Quizzes</a></li>
        <li><a href="/podcasts">Podcasts</a></li>
      </ul>
    </nav>

    <h2>Sign Up</h2>
    <form action="/users" method="POST">
      <p>First Name <input type="first_name" name="first_name" /></p>
      <p>Last Name <input type="last_name" name="last_name" /></p>
      <p>Email <input type="text" name="email" /></p>
      <p>Password <input type="password" name="password" /></p>
      <p>
        <input type="submit" />
      </p>
    </form>

    <h2>Login</h2>
    <form action="/login" method="POST">
      <p>Email <input type="text" name="email" /></p>
      <p>Password <input type="password" name="password" /></p>

      <p>
        <input type="submit" />
      </p>
    </form>
    {% block body%} {% endblock %}
  </body>
</html>
