{% extends 'base.html' %} {% block title%} WHAT THE FRENCH {% endblock %} {%
block body%}
<div class="login-container">
  <h2>Log In</h2>
  <form action="/login" method="POST">
    <div>
      <label for="email">Email</label>
      <input type="text" id="email" placeholder="Email" name="email" />
      {% if duplicate_email_msg %}
      <span>{{ duplicate_email_msg }} </span>
      {% endif %}
    </div>
    <div>
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        placeholder="Password"
        name="password"
      />
    </div>
    <div>
      <input type="submit" />
    </div>
  </form>
  <p>Don't have an account? <a href="/sign-up">Sign Up</a></p>
</div>
{% endblock%}
