{% extends 'base.html' %} {% block title%} WHAT THE FRENCH {% endblock %} {%
block body%}
<h1>{{ quiz_name }}</h1>

<p>
  Enter your answer for each sentence in the input following the respective
  sentence.
</p>
<form action="/grade" method="POST">
  {% for sentence in sentences %}

  <p>{{ loop.index }}. {{ sentence.blank_word_sentence }}</p>
  <input
    type="hidden"
    id="{{ sentence.sentence_id }}"
    name="{{ sentence.sentence_id }}"
    value="{{ sentence.sentence_id }}"
    required
  />
  <input
    type="text"
    id="answer_{{ sentence.sentence_id }}"
    name="answer_{{ sentence.sentence_id }}"
    required
  />
  {% endfor %}
  <input type="hidden" name="quiz_id" value="{{ quiz.quiz_id }}" />
  <p>
    <input type="submit" />
  </p>
</form>

{% endblock%}
