{% extends 'base.html' %} {% block title%} WHAT THE FRENCH {% endblock %} {%
block body%}
<div class="text-center py-5">
  <h1>{{ quiz_name }}</h1>
</div>
<div class="text-center px-5 mx-5">
  <p>
    For the following sentences, correctly conjugate the verb given the tense
    and subject pronoun.
  </p>
  <p>
    Enter your answer for each sentence in the input following the respective
    sentence.
  </p>
</div>
<div class="d-flex align-items-center flex-column mx-5 mt-4">
  <form action="/grade" method="POST">
    {% for sentence in sentences %}
    <div class="d-flex flex-column justify-content-center">
      <p>{{ loop.index }}. {{ sentence.blank_word_sentence }}</p>
      <div>
        <div class="d-flex flex-column">
          <input
            type="hidden"
            id="{{ sentence.sentence_id }}"
            name="{{ sentence.sentence_id }}"
            value="{{ sentence.sentence_id }}"
            required
          />
          <input
            type="text"
            id="answer_{{ sentence.sentence_id }}"
            name="answer_{{ sentence.sentence_id }}"
            required
          />
          {% endfor %}
        </div>
      </div>
    </div>
    <input type="hidden" name="quiz_id" value="{{ quiz.quiz_id }}" />
    <input type="hidden" name="uuid" value="{{ uuid_code }}" />
    <div
      class="d-flex justify-content-center align-items-center flex-column py-3"
    >
      <p>
        <button class="btn btn-primary" type="submit">Submit</button>
      </p>
    </div>
  </form>
</div>
{% endblock%}
