{% extends 'base.html' %} {% block title%} WHAT THE FRENCH {% endblock %} {%
block body%}

<div class="signup-container">
  <h2>Sign Up</h2>
  <form action="/users" method="POST">
    <p>
      First Name
      <input type="text" placeholder="First Name" name="first_name" />
    </p>
    <p>
      Last Name
      <input type="text" placeholder="Last Name" name="last_name" />
    </p>
    <p>Email <input type="text" placeholder="Email" name="email" /></p>
    <p>
      Password
      <input type="password" placeholder="Password" name="password" />
    </p>
    <p>
      <button type="submit">Submit</button>
    </p>
  </form>
  <a href="/sign-in">Login</a>
</div>
{% endblock%}
