{% extends 'base.html' %} {% block title%} WHAT THE FRENCH {% endblock %} {%
block body%}

<h1>{{ user.first_name }} {{ user.last_name }}</h1>

<h3>All Grades</h3>

{% if quiz_names %}
<ul>
  {% for quiz in quiz_names %}
  <li>
    <p>{{ quiz[0] }}</p>
    <ul>
      <li>
        <p>{{ all_grades[loop.index - 1].grade }}</p>
      </li>
    </ul>
  </li>
  {% endfor %}
</ul>
{% else %}
<p>
  Oh no, it looks like you haven't taken any quizzes. Check out the
  <a href="/quiz">word conjugation</a> section to take your first one!
</p>
{% endif %} {% endblock%}
