{% extends 'base.html' %} {% block title%} WHAT THE FRENCH {% endblock %} {%
block body%}
<h1>Select a Verb</h1>

<form action="/quiz" method="POST">
  <label for="verb-selection">Select a Verb:</label>
  <select name="verb" id="{{ verb_id }}">
    <option value="verb-option">-- Please select an option --</option>
    {% for verb in verbs %}
    <option value="{{ verb.verb_id }}">{{ verb.verb }}</option>
    {% endfor %}
  </select>

  <h1>Select a Tense</h1>
  <label for="tense-selection">Select a Tense:</label>
  <select name="tense" id="{{ tense_id }}">
    <option value="tense-option">-- Please select an option --</option>
    {% for tense in tenses %}
    <option value="{{ tense.tense_id }}">{{ tense.tense }}</option>
    {% endfor %}
  </select>
  <p>
    <input type="submit" />
  </p>
</form>
<p>
  For the following sentences, correctly conjugate the verb given the tense and
  subject pronoun.
</p>

{% endblock%}
