<h1>Select a Verb</h1>
<label for="verb-select">Select a Verb:</label>

<select name="verbs" id="verb-select">
  <option value="">-- Please select an option --</option>
  <option value="acheter">Acheter</option>
  <option value="aller">Aller</option>
  <option value="avoir">Avoir</option>
  <option value="etre">Être</option>
  <option value="devoir">Devoir</option>
  <option value="faire">Faire</option>
</select>

<h1>Select a Tense</h1>
<label for="verb-select">Select a Verb:</label>

<select name="verbs" id="verb-select">
  <option value="">-- Please select an option --</option>
  <option value="acheter">Acheter</option>
  <option value="aller">Aller</option>
  <option value="avoir">Avoir</option>
  <option value="etre">Être</option>
  <option value="devoir">Devoir</option>
  <option value="faire">Faire</option>
</select>
